img {
  height: 100%;
}

.image {
  height: 400px;
  background: gray;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.price {
  border-radius: 0px 0px 10px 10px;
  background: lightblue;
  height: 120px;
  text-align: center;
  padding: 10px;
}
