.container {
  text-align: center;
}


.info {
  height: 30px;
  width: 100%;
  margin-top:10px;
}

.phrase {
  padding: 0px 30px;
  float: left;
  line-height: 30px;
  height: 100%;

}

.text {
  font-weight: bold;
}

.sortby {
  padding: 0px 30px;
  float: right;
  height: 100%;
  line-height:30px;
}
