.container {
  background: lightsteelblue;
  /*height: 400px;*/
  /*color: white;*/
  /*font-weight: bold;*/
  text-align: center;
  /*padding-top: 50px;*/
  /*height: 100%;*/
}


.info {
  height: 30px;
  width: 100%;
  background: deepskyblue;
}

.phrase {
  padding: 0px 30px;
  float: left;
  line-height: 30px;
  height: 100%;
  background: lightslategray;

}

.sortby {
  padding: 0px 30px;
  float: right;
  background: lime;
  height: 100%;
  line-height:30px;
}
