.container {
  text-align: center;
}


.info {
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin-top:10px;
  margin-bottom: 5px;
}

.phrase {
  padding: 0px 30px;
  float: left;
  line-height: 30px;
  height: 100%;

}

.text {
  font-weight: bold;
}

.sortby {
  background-color: white;
  border-radius: 8px;
  padding: 0px 30px;
  float: right;
  margin-right:15px;
  height: 100%;
  border: 1px solid #ddd;
}
