.pagination {
  margin: 0px auto;
  margin-top: 30px;
  height: 60px;
  line-height: 60px;
  width: 90%;
  color: white;
  background-color: white;
  border-radius: 8px;
}

.page-item, .arrow-left, .arrow-right {
  display: inline-block;
}

.page-link, .isActive {
  outline: none;
  text-decoration: none;
  display: block;
  background-color: white;
  color: skyblue;
  text-decoration: none;
  border: 1px solid green;
  border: 0px;
  width: 32px;
  height: 32px;
  margin: 5px;
  line-height: 25px;
  font-size: 16px;
}
.arrow-left {
  border-radius: 6px 0px 0px 6px;
}

.arrow-right {
  border-radius: 0px 6px 6px 0px;
}


.page-link:hover, .arrow-left:hover, .arrow-right:hover {
  background-color: #0171ce;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-weight: bold;
}

.isActive {
  background-color: #0171ce;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-weight: bold;
}
