.pagination {
  margin: 0px auto;
  margin-top: 30px;
  height: 60px;
  line-height: 60px;
  width: 90%;
  color: white;
  background-color: white;
  border-radius: 8px;
}

.page-item, .arrow-left, .arrow-right {
  display: inline-block;
}

.page-link, .isActive, .arrow-left, .arrow-right {
  outline: none;
  text-decoration: none;
  background-color: white;
  color: skyblue;
  border: 0px;
  width: 32px;
  height: 32px;
  margin: 5px;
  line-height: 25px;
  font-size: 16px;
}


.page-link:hover {
  background-color: #0171ce;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-weight: bold;
  cursor: pointer;
}

.isActive {
  background-color: #0171ce;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-weight: bold;
}
