.heading {
  background: lightcoral;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  height: 30px;
  line-height: 30px;
  text-shadow: 1px 1px darkblue;
}

.topbar {
  height: 70px;
  background-color: beige;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 100%;
  overflow: hidden;
}

.leftgroup {
  height: 100%;
  width: 25%;
  background: red;
}

.logo {
  height: 100%;
  width: 50%;
  background: brown;
  float: left;
}
.navmenu {
  float: left;
  height: 100%;
  background: skyblue;
  width: 50%;
}

.mid {
  height: 100%;
  background-color: green;
  width: 50%;
  min-width: initial;
  padding-top: 20px;
}

.rightgroup {
    height: 100%;
    width: 25%;
    background-color: pink;
}


.shoppingcart, .market {
  height: 100%;
  width: 50%;
  float: left;
}
.shoppingcart {
  background: darksalmon;
}

.market {
  background: white;
}
